{% extends 'base.html' %}
{% block content %}
<h1>بهای تمام شده تولید</h1>
{% include 'accounting/_filter.html' %}
<div class="table-container"><table><thead><tr><th>تاریخ</th><th>دستگاه</th><th>محصول</th><th>مواد اولیه</th><th>برق</th><th>دستمزد</th><th>تعمیرات</th><th>کل هزینه</th></tr></thead>
<tbody>{% for r in rows %}<tr><td>{{ r[0]|jalali }}</td><td>{{ r[1] }}</td><td>{{ r[2] }}</td><td>{{ r[3]|money }}</td><td>{{ r[4]|money }}</td><td>{{ r[5]|money }}</td><td>{{ r[6]|money }}</td><td>{{ r[7]|money }}</td></tr>{% endfor %}</tbody></table></div>
{% endblock %}
